html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(../img/imagem_fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 100%;
    overflow-x: hidden;
}

/*-----HEADER-----*/
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 60px;
    margin-left: 30px;
}

nav .ul_nav {
    display: flex;
    gap: 2em;
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

nav a:hover {
    color: #7e7e7e;
}

/* Menu Hambúrguer */
.menu-hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguer span {
    width: 25px;
    height: 3px;
    background: #000;
    transition: 0.4s;
}

/* Animação: X */
.menu-hamburguer.ativo span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-hamburguer.ativo span:nth-child(2) {
    opacity: 0;
}

.menu-hamburguer.ativo span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

header .titulo {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.titulo h1 {
    font-size: 40px;
}

.titulo small {
    background-color: #000;
    padding: 8px;
    border-radius: 50px;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
}

header .horarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header .dias,
header .hora {
    border-radius: 50px;
    font-weight: 700;
    padding: 5px 15px;
    background-color: #fff;
    display: inline-block;
    box-shadow: 2px 2px 2px #000;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whats.ocultar {
    display: none;
}


.whats img {
    width: 100px;
    transition: 0.4s;
}

.whats img:hover {
    filter: drop-shadow(0px 0px 8px #00ff15);
}

/*-----FIM HEADER-----*/

/*-----MAIN-----*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    gap: 5em;
}

.main_titulo h1 {
    font-size: 60px;
}

.main_titulo h2 {
    font-size: 50px;
}

main .info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main .info p {
    font-weight: 700;
}

/*-----FIM MAIN*/

/*-----SECTIONS-----*/
#servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
    height: 100dvh;
    width: 100%;
    background-color: #0f0f0f;
}

.titulo_section {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
}

#servicos article {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.reverse {
    flex-direction: row-reverse;
}

.servicos_img {
    width: 170px;
}

.servicos_img img {
    border-radius: 6px;
    box-shadow: 0px 0px 8px #fff;
}

.servicos_texto {
    width: 200px;
}

/*-----SECTION FIM-----*/

/*-----CONTATO-----*/
.contato {
    background-image: url(../img/fundo_animado.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

.marca_hora {
    height: fit-content;
    width: fit-content;
    padding: 2em;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.marca_hora h3 {
    text-align: center;
    font-size: 40px;
}

.marca_hora .social {
    display: flex;
    margin: 0 auto;
    gap: 2.5em;
}

.social img {
    width: 50px;
}

.social img:hover {
    transform: translateY(-6px);
    filter: drop-shadow(0px 0px 8px #fff);
    transition: .4s;
}

.insta,
.wpp {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    font-weight: 700;
}

/*-----CONTATO FIM-----*/

/*-----FOOTER-----*/
footer {
    padding: 30px;
    color: #999;
    background-color: #0d0d0d;
    font-size: 14px;
    text-align: center;
}
/*-----FOOTER FIM-----*/

/* Animação Scroll */
[data-animar] {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

[data-animar="c"] {
    transform: translateY(40px);
}

[data-animar="b"] {
    transform: translateY(-40px);
}

[data-animar="e"] {
    transform: translateX(-40px);
}

[data-animar="d"] {
    transform: translateX(40px);
}

[data-animar].ativo {
    opacity: 1;
    transform: translate(0);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    nav .ul_nav {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 52px;
        width: 100%;
        padding: 8px;
        background: rgba(255, 255, 255, 0.7);
        text-align: center;
    }

    nav .ul_nav.ativo {
        display: flex;
    }

    .menu-hamburguer {
        display: flex;
        margin-left: 130px;
    }

    .logo {
        width: 50px;
        margin-right: 100px;
    }

    main {
        gap: 3em;
    }

    main .info {
        gap: 1.3em;
    }

    #servicos {
        padding: 10px;
    }

    #servicos article {
        gap: 2em;
    }
}